@page "/beispiele/bibliothek/edit/{Id:int}"
@using ct_datenbanken.Data
@inject BookService bs
@inject NavigationManager NavigationManager

<h1>Editiere ein Buch</h1>
<EditForm Model="@book" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="title" @bind-Value="book.Title" />
    <InputNumber id="pageCount" @bind-Value="book.PageCount" />
    <InputCheckbox id="available" @bind-Value="book.IsAvailable"/>
    <InputText id="authorName" @bind-Value="book.AuthorName"/>
    <InputTextArea id="description" @bind-Value="book.Description"></InputTextArea>

    <button type="submit">Submit</button>
</EditForm>


@code{

    [Parameter]
    public int Id { get; set; }

    private BookDTO book;

    protected override void OnInitialized()
    {
        book = bs.Get(Id);
    }

    private void ValidSubmit()
    {
        bs.Update(book);
        NavigationManager.NavigateTo("/beispiele/bibliothek");
    }
}