@page "/beispiele" 
<h1>Beispiele</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Beschreibung</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Bibliothek</td>
        <td>Ein simples system um Bücher in einer Datenbank zu verwalten. Bücher sind relational zu Authoren</td>
        <td><a class="btn btn-primary" href="/beispiele/bibliothek" role="button">Link</a></td>
    </tr>
    </tbody>
</table>