@page "/dokument-datenbanken"

<h1>Dokumentenorientierte Datenbanken</h1>
<p>
    <span class="lead">Dokumentenorientierte Datenbanken sind eigentlich einfach nur viele Dokumente</span> welche ein Format teilen und effizient durchsucht werden können.
    In der regel sind Dokumentenorientierte Datenbanken NoSQL.
    Der inhalt dieser "Dateien" ist extrem dynamisch, und kann praktisch alles sein, vorausgesetzt die Datenbank erlaubt dies.
</p>
<p>
    <a href="/wie-no-sql">Siehe hier für weitere Informationen zu NoSQL</a><br/>
    <a href="/mongodb">Siehe hier für weitere Informationen zu MongoDB</a><br/>
</p>