@page "/"

<h1>Was ist eine Datenbank?</h1>
<p>
    <span class="lead">Eine Datenbank ist wie eine datei die man nach einem bestimmten Schlüssel durchsuchen kann.</span>
    Schau in die navigation um mehr zu erfahren, alle seiten sind auch weiter unten angezeigt.
    Es gibt auserdem ein simples beispiel wie eine Datenbank benutzt wird, schau dafür auch mal in die Navigation.
</p>
<hr/>
<KeyValueStore/>
<hr/>
<MicrosoftAccess/>
<hr/>
<MicrosoftSqlServer/>
<hr/>
<MySQL/>
<hr/>
<NoSQL/>
<hr/>
<Redis/>
<hr/>
<Relationale/>
<hr/>
<Sql/>