@page "/key-value-store"

<h1>Key Value Store</h1>
<p>
    Ein Key Value Store ist die simpelste Datenbank die man sich vorstellen kann. <br/>
    Genau ein eindeutiger Schlüssel (englisch: Key) wird genau einem Wert (englisch: Value) zugeordnet.
</p>
<p>
    Es gibt inzwischen nurnoch einen wirklich oft genutzten Key-Value store:
    <a href="/redis"><img alt="Redis" src="https://redis.io/images/redis.png"></a>.<br/>
    Redis bietet aber noch sehr viel mehr, ist aber grundsätzlich ein Key-Value store.
</p>