@page "/microsoft-access"

<h1>Microsoft Access</h1>
<p>
    <span class="lead">Microsoft Access ist teil der Office Suite, und ist zum erstellen kleiner Datenbank Apps ohne Programmier kentnisse gemacht.</span>
    <a href="https://www.microsoft.com/de-de/microsoft-365/access">Siehe Microsofts Seite (deutsch)</a>
</p>