@page "/microsoft-sql-server"

<h1>Microsoft Sql Server</h1>
<p>
    Microsoft Sql Server ist teil des Windows Server Eko Systems, und in der Unternehmensszene, wo Windows Server auch genutzt wird, ein grosser Spieler.
    Auserhalb von fällen wo alles Windows/Microsoft (Office etc.) ist, wird MSSQL kaum verwendet.
    Es ist allerdings wieder etwas sichtbar geworden, da die Azure Cloud Platform (Microsofts Cloud Platform) neben CosmosDB auch SQL Server 2019 anbietet. 
</p>