@page "/my-sql"

<h1>Was ist mySQL?</h1>
<p class="lead">
    MySQL ist eines der weltweit verbreitesten relationalen Datenbankverwaltungssysteme. Es ist als Open-Source-Software
    sowie als kommerzielle Enterpriseversion für verschiedene Betreibssysteme verfügbar und bildet die Grundlage für viele
    dynamische Webauftritte.
</p>

<p>
    Der Name MySQL setzt sich zusammen aus dem Vornamen My, den die tochter des mySQL-AB-Mitbegründers
    Michael Widenius trägt, und SQL.
</p>

<p>
    Ein Einsatzgebiet von MySQL ist die Datenspeicherung für Webservices. MySQL wird dabei häufig in Verbindung mit dem
    Webserver Apache bzw. Nginx und der Skriptsprache PHP eingesetzt. Man spricht von einem LAMP Stack oder von LEMP Stack.
    Viele Webdienste bedienen sich dieser Architektur und betreiben je nach Größe und Bedarf eine Vielzahl von MySQL-Servern,
    über die die Zugriffe aus dem Netz abgewickelt werden. MySQL wird unter anderem von Flickr und Youtube verwendet.
    Daneben wird MySQL in vielen Produkten als eingebettetes Datengbanksystem eingesetz. Inzsichen wird es zunehmend
    von seinem Fork MariaDB abgelöst.
</p>

<p>
    MySQL sieht grundsätzlich einen MySQL-Server vor, auf dem Daten gespeichert sind, und einen oder mehrere MySQL-Clients,
    die Anfragen an den Server schicken, die dieser beantwortet.
</p>

<p>
    Auf dem Datenbankmanagementsystem, dem MySQL-Server, können mehrere Datenbanken erstellt werden.
    In einer Datenbank können mehrere Tabellen angelegt werden.
    Praktisch erstellt MySQL dabei für jede Datenbank einen Ordner auf der Festplatte,
    in dem Dateien für die Struktur und die Daten der einzelnen Tabellen abgelegt werden.
    Das genaue Format dieser Dateien hängt von der für die jeweilige Tabelle verwendeten Speicherengine ab.
    Die Tabellen können jeweils von einem unterschiedlichen Typ sein. Der Tabellentyp legt fest,
    welche Speicherengine (Speichersubsystem) für Anfragen an eine Tabelle verwendet wird. 
    Jede Tabelle kann Spalten enthalten, in denen Daten eines festgelegten Datentyps gespeichert werden können.
    Die maximale Größe der Tabellen wird grundsätzlich nur durch das Betriebssystem limitiert. 
</p>
