@page "/redis"

<h1>Redis</h1>
<img alt="Redis" src="https://redis.io/images/redis.png"/>

<p>
    <span class="lead">Redis ist ein Open Source (BSD Lizenz), arbeitsspeicher basierter datenstruktur speicher, auch als datenbank benutzter, cache und nachrichten vermittler (englisch: broker).</span><br/>
    Redis unterstützt datenstrukturen wie texte, Streuwerte (englisch: hashes), Listen, geordnete und ungeordnete Sätze (englisch: set),  geospatiale indexe und mehr. <br/>
    Redis unterstützt replikation, LRU basierte Räumung, Transaktionen, und unterschiedliche stufen von Speicher Persistenz.<br/>
    Mit hilfe von Redis Sentinel wird HA unterstützt, und mit Redis Cluster automatische Partitionierung.<br/>
    <a href="https://redis.io/topics/introduction">Siehe hier für mehr informationen (englisch)</a>
</p>
