@page "/relationale"

<h1>Relationale Datenbanken</h1>
<p>
    <span class="lead">Relationale Datenbanken sind Datenbanken welche Relationen Speichern können.</span>
    Zum Beispiel kann eine Relation ziwschen einem Autor und seinen Büchern Gespeicher werden.
    Wie dass ein Autor mehrere Bücher hat und ein Buch wiederum viele
    Seiten welche alle der gleiche Autor geschrieben hat.
    Somit kann man die Bücher nach Autoren auflisten oder sich Autoren von mehreren Büchern anzeigen lassen.
</p>