@page "/sql"

<h1>SQL Datenbanken</h1>

SQL iste eine Datenbanksprache zur Definition von Datenstrukturen in relationalen Datenbanken sowie zum Bearbeiten 
und Abfragen von darauf basierenden Datenbeständen.

Die Sprache basiert auf der relationalen Algebra, ihre Syntax ist relativ einfach aufgebaut und semantisch an die
englische Umgangssprache angelehnt. 
Durch den Einsatz von SQL strebt man die Unabhängigkeit der Anwendung vom eingesetzten Datenbankmanagementsystem an.

Die Bezeichnung SQL ist eine Abkürzung für "Structured Query Language" was auf deutsch soviel wie "Strukturierte Abfrage
Sprache" Bedeutet. Die Bezeichnung leitet sich von dem Vorgänger SEQUEL für Structured